/*Variabler*/

$navbar-color:#090A0B; 
$background-color:#090A0B; 
$button-color:#F5FFFE; 
$button--hover:#0047FF;
$button-border-color:#F5FFFE;
$font-color:#F5FFFE;


/*Mixins til forside*/


/*Mixins til .....*/