/*Variabler*/

$navbar-color:#090A0B; 
$background-color:#090A0B; 
$button-color:#F5FFFE; 
$button-hover-white:#F5FFFE;
$button-border-color:#F5FFFE;
$font-color:#F5FFFE;
$font-color2:#DC9784;
$font-color3:#090A0B;
$cta-button: #008EDE;
$cta-buttonglow:rgba(0, 216, 236, 0.882);
$cta-buttonglow-hover:rgba(239, 0, 0, 0.882);
$borderbox-color:#DC9784;
$footer-color: #FFFAFA;
$Heading-font-size: 3.875rem;
$Heading-mobile-size: 2.625rem;
$broedtekst-font-size: 1.6rem; 
$footer-font-size: 1.3rem;
$hover-font-size: 1,4rem;
$faktakasse-font-size: 1.1rem;
$button-font-size: 1.6rem;
$box-shadow:0 2px 4px rgba(255, 255, 255, 0.4), 
0 8px 16px rgba(0, 0, 0, 0.3); 
$box-shadow2: 0 2px 4px rgba(223, 95, 95, 100%);
$box-shadow3: 0 2px 4px rgba(37, 130, 151, 100%);






/*Mixins til forside og navbar*/
@mixin sidebar-to-menu{
    position: fixed;
    width: 250px;
    height: 100%;
    background: grey;
    transition: left 0.3s ease;
}

@mixin menu{
    list-style: none;
    padding: 0;
    margin: 0;
}

@mixin menu-item{
    padding: 10px 0;
    border-bottom:  solid white;  
}

@mixin link{
    color: $font-color;
    padding-left: 50px;
    font-size: $broedtekst-font-size;
    font-weight: 400;
    text-decoration: none;
}

@mixin white-rapporterbtn{
    background: transparent;
    border: 2px solid $button-border-color;
    color: $button-color;
    padding: 10px 46px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0,3s;
    font-size: 1.125rem; 
    box-shadow: $box-shadow;

    @media only screen and (max-width: 500px){
        padding: 10px 5px;
    }

}
@mixin border-btn {
    background: transparent;
    border: 2px solid $cta-button;
    color: $button-color;
    padding: 10px 30px;
    border-radius: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0,3s;
    font-size: 1.6rem;     

    @media only screen and (max-width: 768px) {
        margin: 2%;
    }
        
}


@mixin blue-btn {
    background: $cta-button;
    border: 2px solid $cta-button;
    color: $button-color;
    padding: 10px 30px;
    border-radius: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0,3s;
    font-size: 1.6rem;  
    margin-bottom: 3%;

    
    @media only screen and (max-width: 768px){
        margin: 2%;
        padding: 10px 50px;

    }

        
}

@mixin bluebutton-hover{
    font-size: 1.8rem;

}

@mixin borderbutton-hover{
    font-size: 1.8rem;

}

@mixin fakta-box{
    width: 180px;
    height: 180px;
    border: 5px solid $borderbox-color;
    border-radius: 16px;
    display: grid;
    grid-template-rows: auto 1fr auto;
    justify-items: center;
    align-items: center;
    flex-direction: row;
    font-size: $broedtekst-font-size;
    margin: 20px;


}


@mixin ikon-size-front-page { 
    width: 48px;
    height: 46px;
    margin-top: 12px;
   
}

@mixin halvmåne{
    width: 1000px;
    height: 1000px;
    border-radius: 1000px 1000px 0 0;
    margin-top: 20%;
    margin-left: 20%;
    background-color: $cta-button;
    transform: rotate(-90deg);
    box-shadow: $box-shadow;

    @media only screen and (max-width: 500px){
       display: none;

    }
}
 
/* mixins til sikkerhedspillet*/

@mixin game-baggrund{
    .introduktion h1 p{
        display: none;
    }
    background-color: transparent;
    border-radius: 33%;
    max-width: 100%;
    height: 600px;
    background-position: center;
    background-size: cover;

     @media only screen and (max-width: 500px){
       width: 500px;
       height: 300px;
       border-radius: 0;

     }
} 

@mixin gamefrontpagepicture{
    align-self: center;
    width: 1050px;
    height: 600px;


    @media only screen and (max-width: 500px){
       width: 500px;
       height: 300px;
       grid-column: 1;
       padding: 5%;
      }
}
@mixin gamebutton{
    background: transparent;
    border: 2px solid $cta-button;
    color: $button-color;
    padding: 20px 25px;
    border-radius: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0,3s;
    font-size: 2.0rem;     
    box-shadow: 0 0 10px $cta-buttonglow,0 0 20px $cta-buttonglow,0 0 30px $cta-buttonglow;   


    @media only screen and (max-width: 500px){
        font-size: 1.4rem;
        padding: 20px 25px;
        grid: 2;

    }
}

@mixin hoverforgamebutton{
    cursor: pointer;
    transform: scale(1.0);
    box-shadow: 0 0 10px $cta-buttonglow-hover,0 0 20px $cta-buttonglow-hover,0 0 30px $cta-buttonglow-hover; 
}


@mixin valgmulighedbutton{
    width: 600px;
    background: transparent;
    border: 2px solid $cta-button;
    color: $button-color;
    padding: 10px 30px;
    border-radius: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0,3s;
    font-size: 1.6rem;     
    box-shadow: 0 0 10px $cta-buttonglow,0 0 20px $cta-buttonglow,0 0 30px $cta-buttonglow;   

    @media only screen and (max-width: 1098px) and (min-width: 601px){
        width: 300px;
    }
    @media only screen and (max-width: 1000px){
        width: 250px;
    }
    @media only screen and (max-width: 500px){
        font-size: 1.2rem;
        padding: 12px;
        width: 230px;
        margin: 1%;
    }

}

@mixin fortsæt-knap{
    background: $borderbox-color;
    color: black;
    padding: 10px 30px;
    border-radius: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0,3s;
    font-size: 1.4rem;   
    box-shadow: $box-shadow;

    @media only screen and (max-width: 500px){
        padding: 30px;
        width: 200px;
    }
}


@mixin try-knap{
    background: $cta-button;
    color: $button-color;
    padding: 10px 30px;
    border-radius: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0,3s;
    font-size: 2.0rem;     
    box-shadow: $box-shadow;

    @media only screen and (max-width: 500px){
        font-size: 1.4rem;
        padding: 10%;
        margin: 3%;
    }

}
   
/*Mixins til .....*/