/*Variabler*/

$navbar-color:#090A0B; 
$background-color:#090A0B; 
$button-color:#F5FFFE; 
$button-hover:#00A3FF;
$button-hover-white:#F5FFFE;
$button-border-color:#F5FFFE;
$font-color:#F5FFFE;
$font-color2:#ff8a83;
$cta-button: #00A3FF;
$Heading-font-size: 62px;
$broedtekst-font-size: 1.6rem;
$button-font-size: 1.6rem;




/*Mixins til forside*/
@mixin border-btn {
    background: transparent;
    border: 2px solid $cta-button;
    color: $button-color;
    padding: 10px 50px;
    border-radius: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0,3s;
    font-size: 1.6rem;     

    blue-btn:hover{
        border: 2px solid $button-hover-white;
        color: $button-hover-white; 
        font-size: 1.2rem;

    }
        
}

@mixin blue-btn {
    background: $cta-button;
    border: 2px solid $cta-button;
    color: $button-color;
    padding: 10px 30px;
    border-radius: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0,3s;
    font-size: 1.6rem;    

   blue-btn:hover{
        background: 2px solid $button-hover-white;
        color: $button-hover-white; 
        font-size: 1.2rem;
    }
        
}




/*Mixins til .....*/