@import '_partial.scss';

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: $navbar-color;
    font-family: "Roboto";
    src: url(../Datasikkerhed/Fonts/Roboto/Roboto-Regular.ttf);
    
}

h1{
   font-size: $Heading-font-size;
}

p{
    font-size: $broedtekst-font-size;
}



/*Navbar*/

header{
    position: sticky;
    height: 80px;   
    padding: 1%;
}

.navbar-desktop{
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    padding: 10px;
    background-color: transparent;
    width: 100%;

}

.logo{
    max-width: 200px;
}
  

  .Rapporter-button{
    @include white-rapporterbtn
    
 } 
 
 .Rapporter-button:hover{
    font-size: 1.6rem;
 }

 /* Navbar til mobile*/ 
.navbar-mobile{
    display: none;  
 }

 .menu-bar{
    position: fixed;
    top: 20px;
    left: 20px;
    cursor: pointer;
    z-index: 999;
 }

 .sidebar{
    @include sidebar-to-menu
 }

 .menu{
    @include menu
 }

 .menu li{
    @include menu-item
 }

 .menu a{
    @include link
 }

 .menu a:hover{
    color: black;
 }

 .menu-btn{
    background: transparent;
    width: 45px;
    height: 45px;
    margin-right: 5px;
    margin-top: 2px;
    cursor: pointer;
 }


 /*Header slutter*/


 /* Forside starter*/ 

 main{

    margin-right: 0;
    margin-right: 0,3 ease;

    h1{
        font-size: $Heading-font-size;
        color: $font-color;
    }

    p{
       font-size: $broedtekst-font-size;
       color: $font-color;
       margin-bottom: 5%;
    }
 }


h2{
   font-size: $Heading-font-size;
   color: $font-color2;
}

.forside-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5%;
    padding: 1%;
    margin-bottom: 10%;
}

.forside-tekst{
    padding: 12%;
    margin-top: 5%;

}

.forside-tekst h1, .forside-tekst h2{
    display: inline;
}

.borderbutton{
    @include border-btn;
    margin-left: 1%;
}

.borderbutton:hover{
    @include borderbutton-hover
}

.bluebutton{
    @include blue-btn;  
}

.bluebutton:hover{
    @include bluebutton-hover
 }

.forside-faktakasser{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2 1fr);
    justify-content: center;
    align-items: center;
}


.faktakasse{
    @include fakta-box;

}


.faktaikon img{
    @include ikon-size-front-page
}
    
.fakta{
    font-size: 62px;
    color: $font-color2;
    position: relative;
    &:after{
        position: absolute;
        justify-content: center;
        transform: translate(-50%,-45%);
    }
}

.fakta-tekst{
    p{
       font-size: $faktakasse-font-size;
    }
}

/* Forside slukker*/

/* section 2 - + nav- starter*/

.navsection{
    z-index: 1000;
    padding: 20px;
    text-align: center;
    margin-left: 55%;
    font-size: $broedtekst-font-size;
    position: sticky;

    a{
        color: $font-color;
        text-decoration: none;       
        padding: 5px;
    }

    a:hover{
        color: $font-color2;
        font-size: $hover-font-size;
       }
}

#datasikkerhed-section{
    margin-top: 4%;
    display: grid;
    grid-template-columns: repeat(7, 1fr) repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-gap: 10px;
}
.datasikkerhed-tekst{
    padding-left: 12%;
    grid-column: span 7;
    grid-row: 1 / 2;
}

.datasikkerheds-box{
    grid-column: span 3;
    grid-row: 1; 
}

.halvmåne{
   @include halvmåne
}


/*Sikkerhedspillet starter her*/ 


.mainforspil{
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.Sikkerhedspil-box{
    margin: 5% 5% 5% 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    transition: background-image 0.5s ease;
    color: $font-color;
    
}

.introduktion{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-blend-mode: overlay;
    text-align: left;
}
.introduktion img{
   @include gamefrontpagepicture
}

.farve-ramme{
    margin: 2% 15% 2% 15%;
    padding: 20px;
    border: 10px solid $cta-button;
    border-radius: 7%;

}

.start{
    text-align: center;
}

.knap-placering{
    display: flex;
    justify-content: center;
    align-items: center;
}
#start-knap{
    grid-column: 2;
    @include gamebutton      
}
#spørgsmålsbox{
    @include game-baggrund   
    
}
#valgmuligheds-box button{
    @include valgmulighedbutton
}

#tilbage-knap{
    @include fortsæt-knap
}
#start-knap:hover{
   @include hoverforgamebutton
}
.skjult{
    display: none;
}


#svar-box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    button{
        grid-column: 2;
     @include fortsæt-knap
     }

    button:hover{
        @include hoverforgamebutton
    }
}

#slut{
    display: grid;
    grid-template-columns: 1fr;

    button{
        @include try-knap
     }

    button:hover{
        @include hoverforgamebutton
    }
}


/* Style af Quix er start*/
.quiz-started{
    .farve-ramme{
        display: none;
    }

    #spørgsmålsbox{
        display: grid;
        grid-template-rows: auto auto 1fr auto;
        margin: 20px;
        padding: 20px;
        border-radius: 10px;

        padding-top: 300px; 
        background-repeat: no-repeat; 
        background-position: top center;
        background-size: contain;
        max-height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #spørgsmålsbox[data-question="1"] {
        background-image: url('Img/Img4Game/Question1.png');    
    }

    #spørgsmålsbox[data-question="2"] {
        background-image: url('Img/Img4Game/Question2.png');
    }

    #spørgsmålsbox[data-question="3"] {
        background-image: url('Img/Img4Game/Question3.png');
    }

    #spørgsmålsbox[data-question="4"] {
        background-image: url('Img/Img4Game/Question4.png');
    }

    #spørgsmålstekst{
        align-self: start;
        margin-bottom: 20px;
        font-size: $broedtekst-font-size;
        background-size: contain;

    }

    #valgmuligheds-box{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        background-size: contain;

    }

    .knap-placering{
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 20px;
    }

    #fortsæt-knap, #tilbage-knap {
        padding: 10px 20px;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
    }
}
   
/*Responsivt design*/ 

@media only screen and (max-width: 1098px) and (min-width: 601px) {

    h1{
        font-size: $Heading-mobile-size;
    }

    p{
        font-size: $faktakasse-font-size;
    }

    header{
        height: 60px;
    }

    .navbar-desktop{
        display: none;
    }

    .navbar-mobile{
        display: grid;
        grid-template-columns: 1fr auto;
    }

    .logo{
        max-width: 110px;
    }
      
   #sidebar{
    display: none;
   }


    main{
        h1{
            font-size: $Heading-mobile-size;
        }

        h2{
            font-size: $Heading-mobile-size;
        }
    }

    .forside-section{
        grid-template-columns: 1fr ;

    }

    .forside-faktakasser{
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }

    .navsection{
        display: none;
    }

    .mainforspil{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    
      /*Reponsivt for spil*/

    .farve-ramme{
        padding: 20px;
        grid-column: 2;
        margin: 2% 10% 2% 10%;
        
     }
    .introduktion{
       display: grid;
       grid-template-columns: 1fr;
    }
     .introduktion h1{
        grid-column: 1;
        font-size: $Heading-mobile-size; 
        margin: 2% 21% 2% 21%;
    
    }
    .introduktion p{
       font-size: $broedtekst-font-size;
       grid-column: 1;
       margin: 2% 21% 2% 21%;
    }
    
    .knap-placering{
        grid-column: 1;
    }
 }

   #valgmuligheds-box{

    display: grid;
    grid-template-columns: 1fr;
    margin: 5%;
    
    button{
    @include valgmulighedbutton
  }

 }


@media only screen and (max-width: 768px){
    .mainforspil{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    
    .farve-ramme{
        margin: 2% 20% 2% 20%;

        .introduktion{
           display: grid;
           grid-template-columns: 1fr;
        }
         .introduktion h1{
            margin: 2% 21% 2% 21%;
        
        }
        .introduktion p{
           margin: 2% 21% 2% 21%;
        }
        
        .knap-placering{
            grid-column: 1;
        }
   
 }

}


@media only screen and (max-width: 500px){


    .forside-faktakasser{
        grid-template-columns: 1fr;
        margin-bottom: 50%;
    }

    .datasikkerhed-tekst{
        display: grid;
        grid-template-columns: 1fr;
    
  }

  .introduktion h1{
    font-size: $Heading-mobile-size; 

}
.introduktion p{
   font-size: $broedtekst-font-size;
}
}



  










   

