@import '_partial.scss';

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: $navbar-color;
    font-family: "Roboto";
    src: url(../Datasikkerhed/Fonts/Roboto/Roboto-Regular.ttf);
    
}


/*Navbar*/

header{
    position: sticky;
    height: 80px;   
    padding: 1%;
}

.navbar-desktop{
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    padding: 10px;
    background-color: transparent;
    width: 100%;

}

.logo{
    max-width: 200px;
}
  

  .Rapporter-button{
    @include white-rapporterbtn
    
 } 
 
 .Rapporter-button:hover{
    font-size: 1.6rem;
 }

.navbar-mobile{
    display: none;  
 }

 /*Header slutter*/


 /* Forside starter*/ 

 main{
    h1{
        font-size: $Heading-font-size;
        color: $font-color;
    }

    p{
       font-size: $broedtekst-font-size;
       color: $font-color;
       margin-bottom: 5%;
    }
 }


h2{
   font-size: $Heading-font-size;
   color: $font-color2;
}

.forside-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5%;
    padding: 1%;
}

.forside-tekst{
    padding: 12%;
    margin-top: 5%;

}

.forside-tekst h1, .forside-tekst h2{
    display: inline;
}

.borderbutton{
    @include border-btn;
    margin-left: 1%;
}

.borderbutton:hover{
    @include borderbutton-hover
}

.bluebutton{
    @include blue-btn;  
}

.bluebutton:hover{
    @include bluebutton-hover
 }

.forside-faktakasser{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2 1fr);
    justify-content: center;
    align-items: center;
}


.faktakasse{
    @include fakta-box;

}


.faktaikon img{
    @include ikon-size-front-page
}
    
.fakta{
    font-size: 62px;
    color: $font-color2;
    position: relative;
    &:after{
        position: absolute;
        justify-content: center;
        transform: translate(-50%,-45%);
    }
}

.fakta-tekst{
    p{
       font-size: $faktakasse-font-size;
    }
}




/*Responsivt design*/ 

@media only screen and (max-width: 768px) {
    header{
        height: 60px;
    }

    .navbar-desktop{
        display: none;
    }

    .navbar-mobile{
        display: grid;
        grid-template-columns: 1fr auto;
    }

  

    main{
        h1{
            font-size: $Heading-mobile-size;
        }

        h2{
            font-size: $Heading-mobile-size;
        }
    }

    .forside-section{
        grid-template-columns: 1fr ;

    }

    .forside-faktakasser{
        grid-template-columns: 1fr;
    }

}