/*Variabler*/
/*Mixins til forside*/
/*Mixins til .....*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #090A0B;
  font-family: "Roboto";
  src: url(../Datasikkerhed/Fonts/Roboto/Roboto-Regular.ttf);
}

/*Navbar*/
header {
  position: sticky;
  height: 80px;
  padding: 1%;
}

.navbar-desktop {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  padding: 10px;
  background-color: transparent;
  width: 100%;
}

.logo {
  max-width: 200px;
}

.Rapporter-button {
  background: transparent;
  border: 2px solid #F5FFFE;
  color: #F5FFFE;
  padding: 10px 46px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s, color 0, 3s;
  font-size: 1.125rem;
}
@media only screen and (max-width: 768px) {
  .Rapporter-button {
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 0, 75rem;
  }
}

.Rapporter-button:hover {
  font-size: 1.6rem;
}

.navbar-mobile {
  display: none;
}

/*Header slutter*/
/* Forside starter*/
main h1 {
  font-size: 3.875rem;
  color: #F5FFFE;
}
main p {
  font-size: 1.6rem;
  color: #F5FFFE;
  margin-bottom: 5%;
}

h2 {
  font-size: 3.875rem;
  color: #ff8a83;
}

.forside-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5%;
  padding: 1%;
}

.forside-tekst {
  padding: 12%;
  margin-top: 5%;
}

.forside-tekst h1, .forside-tekst h2 {
  display: inline;
}

.borderbutton {
  background: transparent;
  border: 2px solid #00A3FF;
  color: #F5FFFE;
  padding: 10px 50px;
  border-radius: 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0, 3s;
  font-size: 1.6rem;
  margin-left: 1%;
}

.borderbutton:hover {
  font-size: 1.8rem;
}

.bluebutton {
  background: #00A3FF;
  border: 2px solid #00A3FF;
  color: #F5FFFE;
  padding: 10px 30px;
  border-radius: 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0, 3s;
  font-size: 1.6rem;
}

.bluebutton:hover {
  font-size: 1.8rem;
}

.forside-faktakasser {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2 1fr);
  justify-content: center;
  align-items: center;
}

.faktakasse {
  width: 180px;
  height: 180px;
  border: 5px solid #ff8a83;
  border-radius: 16px;
  display: grid;
  grid-template-rows: auto 1fr auto;
  justify-items: center;
  align-items: center;
  flex-direction: row;
  font-size: 1.6rem;
  margin: 20px;
}

.faktaikon img {
  width: 48px;
  height: 46px;
  margin-top: 12px;
}

.fakta {
  font-size: 62px;
  color: #ff8a83;
  position: relative;
}
.fakta:after {
  position: absolute;
  justify-content: center;
  transform: translate(-50%, -45%);
}

.fakta-tekst p {
  font-size: 1.1rem;
}

/*Responsivt design*/
@media only screen and (max-width: 768px) {
  header {
    height: 60px;
  }
  .navbar-desktop {
    display: none;
  }
  .navbar-mobile {
    display: grid;
    grid-template-columns: 1fr auto;
  }
  main h1 {
    font-size: 2.625rem;
  }
  main h2 {
    font-size: 2.625rem;
  }
  .forside-section {
    grid-template-columns: 1fr;
  }
  .forside-faktakasser {
    grid-template-columns: 1fr;
  }
}/*# sourceMappingURL=styles.css.map */